/* Dark mode styles */
body.dark-mode {
    background-color: #181818;
    color: #f5f5f5;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h6,
body.dark-mode a {
    color: #f5f5f5;
}

body.dark-mode .svc,
body.dark-mode .exp-edu,
body.dark-mode #experience,
body.dark-mode #projects,
body.dark-mode .testi_individual_wrapper,
body.dark-mode .skl {
    background: #232323;
    border-color: #444;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode nav {
    background: #232323;
    color: #f5f5f5;
}

body.dark-mode .pj__btn {
    border-color: #444;
}

body.dark-mode .company__img img,
body.dark-mode .pj__img img {
    filter: brightness(0.85);
}

body.dark-mode #desktop-nav,
body.dark-mode #hamburger-nav,
body.dark-mode .concept-trigger {
    background: #181818;
    color: #f5f5f5;
    box-shadow: 0 2px 8px rgba(0,0,0,0.32);
}

body.dark-mode .nav-links a,
body.dark-mode .menu-links a {
    color: rgb(100, 100, 100);
}

body.dark-mode .menu-links{
    background: rgb(30, 30, 30);
}

body.dark-mode #desktop-nav .logo,
body.dark-mode #hamburger-nav .logo{
    color: #fff;
}

body.dark-mode .hamburger-icon span{
    background-color: #fff;
}

body.dark-mode .nav-links a:hover,
body.dark-mode .menu-links a:hover {
    color: #fff;
}

body.dark-mode .skll-set,
body.dark-mode .experience__description{
    background: rgb(40, 40, 40);
    color: #fff;
}

body.dark-mode .experience__description,
body.dark-mode .experience__description p,
body.dark-mode .experience__description span,
body.dark-mode .experience__description li {
    color: #f0f0f0 !important;
}

body.dark-mode nav {
    background: rgba(30, 30, 30, 0.7) !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}



body.dark-mode .work_details p{
    color: #fff;
}

body.dark-mode .exp-edu,
body.dark-mode .skl,
body.dark-mode .testi_individual_wrapper {
    background: #232323;
    color: #f5f5f5;
    border-color: #444;
}

body.dark-mode .skll-set img,
body.dark-mode .pj__btn img {
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

body.dark-mode .skll-set img:hover,
body.dark-mode .pj__btn img:hover{
    filter: brightness(0) invert(1) drop-shadow(0 0 4px rgba(255,255,255,0.5));
}