/* Responsive Styles */

@media (max-width: 1200px) {
     #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }
    section {
        gap: 3rem;
        flex-wrap: wrap;
    }

    .svc__details,
    .about-container,
    #summary {
        max-width: 80%;
    }

    .skll-grid {
        grid-template-columns: repeat(4, 1fr);
    }

     #experience {
    padding: 40px;
    margin: 30px;
  }

  .experience__title__container {
    padding: 0 40px;
  }

  .company__img img {
    height: 300px;
  }

  .experience-description,
  .experience__description {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
    nav {
        margin: 0 30px;
    }

    .nav-links {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        justify-content: flex-end;
        margin: 0 30px;
    }

    section {
        flex-direction: column;
        align-items: center;
        margin: 40px 10px;
    }

    .svc {
        flex-direction: column;
        gap: 1.5rem;
    }

    .service__text, .service__name, .service__no {
        flex: unset;
        text-align: center;
        width: 100%;
    }

    .svc__details {
        max-width: 90%;
    }

    .about-container, #summary {
        max-width: 90%;
    }

    .exp-edu {
        min-width: auto;
        width: 90%;
    }

    .skll-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #summary{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .sm {
        flex: 1 1 auto;
    }

    .project-done{
        text-align: left;
    }
    .service__no h1{
        text-align: left;
    }

    .exp-and-edu-container{
        margin-bottom: 15rem;
        margin-top: 15rem;
    }
    .exp-edu{
        width: 600px;
    }
    #skills{
        gap: 1rem;
        margin-bottom: 15rem;
    }
    .skll-wrapper{
        display: flex;
        flex-direction: row;
    }
    .skll-grid{
        justify-content: center;
        align-items: center;
    }
     #experience {
    padding: 30px;
    margin: 20px;
    gap: 2rem;
    }

  .experience__title__container {
    padding: 0 20px;
    text-align: center;
    }

  .experience__details {
    flex-direction: row;
    overflow: hidden;
    }

  .companies {
    min-width: 100%;
    flex-direction: column;
    }

  .company__img img {
    height: 450px;
    }

  .arrows {
    justify-content: center;
    }

  .experience__description ul {
    line-height: 30px;
    }

}

@media (max-width: 600px) {
    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        gap: 1rem;
        font-size: 1.2rem;
    }

    #fullname {
        font-size: 35px;
    }

    h6 {
        font-size: 20px;
    }

    #summary{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .sm{
        flex: 1 1 auto;
    }

    .sm p {
        font-size: 35px;
        text-align: left;
    }

    .services__title h1 {
        font-size: 35px;
    }

    .service__no{
        text-align: left;
    }

    .service__text p{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .svc {
        padding: 10px;
    }

    .svc__details {
        gap: 1rem;
    }

    .exp-edu p {
        font-size: 16px;
        line-height: 24px;
    }

    .skll-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .skll-set-container h1 {
        font-size: 20px;
    }

    .icon img {
        height: 20px;
        width: 25px;
    }
}

@media (max-width: 400px) {
    .skll-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-links a {
        font-size: 1.2rem;
    }

    .skll-set-container {
        padding: 10px;
    }
}